---
layout: post
title: "Developer Portal"
tags: []
author: Eric Fung
permalink: /developers/
---     

<ul class='summary' id='apis'>
  <li>
    <a href='/apis'>
      <h3>
        APIs
      </h3>
      <p>KISSmetrics provides an official API for several languages. For most users we recommend using the JavaScript Library. Please also consider using our other ways of sending us data, as we are including direct integrations with several platforms like Mailchimp, Recurly, and your own MySQL database.</p>
    </a>
  </li>
</ul>
<ul class='summary' id='external_integrations'>
  <li>
    <a href='/integrations'>
      <h3>
        External Integrations
      </h3>
      <p>KISSmetrics offers the ability to sync KISSmetrics with other external data sources.</p>
    </a>
  </li>
</ul>
<ul class='summary' id='a/b_testing'>
  <li>
    <a href='/a-b-testing'>
      <h3>
        A/B Testing
      </h3>
      <p>An overview of A/B testing, what A/B testing looks like with KISSmetrics tools, and how we integrate with other A/B testing tools.</p>
    </a>
  </li>
</ul>

<h1>Developer Best Practices</h1>
{% include summaries/best_practices_summary.html %}
{% include summaries/devportal_developers_summary.html %}