---
layout: post
title: "Developer Portal"
tags: []
permalink: /developers/
---

<h2>Overview: Read This First</h2>
<ul class='summary' id='key-concepts'>
  <li>
    <a href='/getting-started/key-concepts'>
      <h3>
        Key Concepts in Person-Based Analytics
      </h3>
      <p>Key concepts about person-based analytics you should know before using KISSmetrics.</p>
    </a>
  </li>
</ul>

<h2>Implementing KISSmetrics</h2>
<ul class='summary' id='apis'>
  <li>
    <a href='/apis'>
      <h3>
        APIs
      </h3>
      <p>KISSmetrics provides an official API for several languages. For most users we recommend using the JavaScript Library. Please also consider using our other ways of sending us data, as we are including direct integrations with several platforms like Mailchimp, Recurly, and your own MySQL database.</p>
    </a>
  </li>
</ul>
<ul class='summary' id='external_integrations'>
  <li>
    <a href='/integrations'>
      <h3>
        External Integrations
      </h3>
      <p>KISSmetrics offers the ability to sync KISSmetrics with other external data sources.</p>
    </a>
  </li>
</ul>
<ul class='summary' id='a/b_testing'>
  <li>
    <a href='/a-b-testing'>
      <h3>
        A/B Testing
      </h3>
      <p>An overview of A/B testing, what A/B testing looks like with KISSmetrics tools, and how we integrate with other A/B testing tools.</p>
    </a>
  </li>
</ul>

<h2> Pitfalls to Watch For</h2>
{% include summaries/devportal_common_devpitfalls_summary.html %}

<h2> Recommended Data Structure For Your Business Type</p>
{% include summaries/best_practices_summary.html %}

<h2> Tips For Installation and Testing </h2>
{% include summaries/devportal_developers_summary.html %}