<!-- Kissmetrics -->
<script type="text/javascript">
var _kmq = _kmq || [];

_kmq.push(['record', "Viewed Support Article", {"Support Article Viewed URL":"{{page.url}}", "Support Article Viewed Title": "{{page.title}}"}]);
</script>

<!-- Qualaroo -->
<script type='text/javascript'>
    var _kiq = _kiq || [];
</script>

<!-- Swiftype -->
<script type='text/javascript'>
  //<![CDATA[
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v1/st.js','_st');

  _st('install','VKCh7SkKnFocH-SDmo5o');
  //]]>
</script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9BXJZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P9BXJZ');</script>
<!-- End Google Tag Manager -->

<!-- Pardot Tracking for Campaign: KM Support Site -->
<script type="text/javascript">
piAId = '27622';
piCId = '20498';

(function() {
  function async_load(){
    var s = document.createElement('script'); s.type = 'text/javascript';
    s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
    var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
  }
  if(window.attachEvent) { window.attachEvent('onload', async_load); }
  else { window.addEventListener('load', async_load, false); }
})();
</script>
