<!-- KISSmetrics -->
<script type="text/javascript">
var _kmq = _kmq || [];

_kmq.push(['record', "Viewed Support Article", {"Support Article Viewed URL":"{{page.url}}", "Support Article Viewed Title": "{{page.title}}"}]);
</script>

<!-- Qualaroo -->
<script type='text/javascript'>
    var _kiq = _kiq || [];
</script>
<script async='true' charset='utf-8' src='//s3.amazonaws.com/j.kissinsights.com/u/3/4b8778f587d05403532596fb20aec271c5ac37bd.js' type='text/javascript'></script>

<!-- Perfect Audience -->
<script type="text/javascript">
  (function() {
    window._pa = window._pa || {};
    var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
    pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/51195c89161e81000200002b.js";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
  })();
</script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9BXJZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P9BXJZ');</script>
<!-- End Google Tag Manager -->
