<div class="modal fade" id="feedbackModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalTitle">How can we help you? Can we improve this page?</h4>
        <h4 class="modal-title" style="display:none" id="modalSuccessTitle">Thanks! We've received your note.</h4>
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <form id="feedbackForm">
          <div class="form-group">
            <label for="feedbackText">We'll read your suggestions, ideas, questions, complaints, and compliments.</label>
            <textarea id="feedbackText" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="feedbackEmail">Email Address</label>
            <input type="email" id="feedbackEmail" placeholder="Enter email (optional)" class="form-control"></input>
            <p class="help-block">We won't use your email address for anything except to respond, if necessary.</p>
          </div>
        </form><!-- /#feedbackForm -->
        <div id="modalSuccess" style="display:none">
          <img src="https://app.kissmetrics.com/images/app/support-request-thanks.png" alt="Thanks!"/>
        </div><!-- /#modalSuccess -->
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="modalSend">Send</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal.fade #feedbackModal -->