<li>
  <a href='/apis'>APIs</a>
  <ul>
    <li>
      <a href='/apis/specifications.html'>API Specifications</a>
    </li>
    <li>
      <a href='/apis/common-methods.html'>Common Methods</a>
    </li>
    <li>
      <a href='/apis/api-tips.html'>API Tips</a>
    </li>
    <li>
      <a href='/apis/javascript.html'>JavaScript Library</a>
      
    </li>
    <li>
      <a href='/apis/ruby.html'>Ruby Library</a>
      
    </li>
    <li>
      <a href='/apis/php.html'>PHP Library</a>
      
    </li>
    <li>
      <a href='/apis/python.html'>Python Library</a>
      
    </li>
    <li>
      <a href='/apis/objective-c.html'>Objective-C Library</a>
    </li>
    <li>
      <a href='/apis/url.html'>URL API</a>
    </li>
    <li>
      <a href='/apis/beacon.html'>Beacon API</a>
    </li>
    <li>
      <a href='/apis/other.html'>Other/3rd-Party Libraries</a>
    </li>
    <li>
      <a href='/apis/data.html'>Data Export</a>    
    </li>
    <li>
      <a href='/apis/saas_events.html'>SaaS Events</a>
    </li>
    <li>
      <a href='/apis/cron.html'>Sending Data via Cron</a>
    </li>
  </ul>
</li>