<li>
  <div class="collapse-hitbox" data-toggle="collapse" data-target="#ab-testing-list">
    <i class="icon-chevron-right"></i>
    <a >A/B Testing</a>
  </div>
  <div id="ab-testing-list" class="collapse">
    <ul>
    {% for page in site.categories.a-b-testing reversed %}
      <li>
        <a href="{{page.url}}">{{ page.title }}</a>
      </li>
    {% endfor %}
      <div class='more-content'>
        <li>
          <a href='/a-b-testing/'>(View all {{ site.categories.a-b-testing | size }} articles)</a>
        </li>
      </div>
    </ul>
  </div>
</li>