<li>
  <div class="collapse-hitbox" data-toggle="collapse" data-target="#advanced-list">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <a href="#advanced-list">Advanced</a>
  </div>
  <div id="advanced-list" class="collapse">
    <ul>
    {% for page in site.categories.advanced reversed %}
      <li>
        <a href="{{page.url}}">{{ page.title }}</a>
      </li>
    {% endfor %}
      <div class='more-content'>
        <li>
          <a href='/advanced/'>(View all {{ site.categories.advanced | size }} articles)</a>
        </li>
      </div>
    </ul>
  </div>
</li>