<li>
  <div class="collapse-hitbox" data-toggle="collapse" data-target="#apis-list">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <a href="#apis-list">APIs</a>
  </div>
  <div id="apis-list" class="collapse">
    <ul>
    {% for page in site.categories.apis %}
      <li>
        <a href="{{page.url}}">{{ page.title }}</a>
      </li>
    {% endfor %}
      <div class='more-content'>
        <li>
          <a href='/apis/'>(View all {{ site.categories.apis | size }} articles)</a>
        </li>
      </div>
    </ul>
  </div>
</li>