<li>
  <div class="collapse-hitbox" data-toggle="collapse" data-target="#best-practices-list">
    <i class="icon-chevron-right"></i>
    <a href="#best-practices-list">Best Practices</a>
  </div>
  <div id="best-practices-list" class="collapse">
    <ul>
    {% for page in site.categories.best-practices reversed %}
      <li>
        <a href="{{page.url}}">{{ page.title }}</a>
      </li>
    {% endfor %}
      <div class='more-content'>
        <li>
          <a href='/best-practices/'>(View all {{ site.categories.best-practices | size }} articles)</a>
        </li>
      </div>
    </ul>
  </div>
</li>