<li>
  <div class="collapse-hitbox" data-toggle="collapse" data-target="#integrations-list">
    <i class="icon-chevron-right"></i>
    <a >External Integrations</a>
  </div>
  <div id="integrations-list" class="collapse">
    <ul>
    {% for page in site.categories.integrations reversed %}
      <li>
        <a href="{{page.url}}">{{ page.title }}</a>
      </li>
    {% endfor %}
      <div class='more-content'>
        <li>
          <a href='/integrations/'>(View all {{ site.categories.integrations | size }} articles)</a>
        </li>
      </div>
    </ul>
  </div>
</li>