<li>
  <i class="icon-chevron-right"></i>
  <a id="integrations-container" data-toggle="collapse" data-target="#integrations-list">External Integrations</a>
  <div id="integrations-list" class="collapse">
    <ul>
    {% for page in site.categories.integrations reversed %}
      <li>
        <a href="{{page.url}}">{{ page.title }}</a>
      </li>
    {% endfor %}
      <div class='more-content'>
        <li>
          <a href='/integrations'>(View all {{ menusize }} articles)</a>
        </li>
      </div>
    </ul>
  </div>
</li>