<li>
  <div class="collapse-hitbox" data-toggle="collapse" data-target="#getting-started-list">
    <i class="icon-chevron-down"></i>
    <a >Getting Started</a>
  </div>
  <div id="getting-started-list" class="collapse in">
    <ul>
    {% for page in site.categories.getting-started reversed %}
      <li>
        <a href="{{page.url}}">{{ page.title }}</a>
      </li>
    {% endfor %}
      <div class='more-content'>
        <li>
          <a href='/getting-started'>(View all {{ menusize }} articles)</a>
        </li>
      </div>
    </ul>
  </div>
</li>