<li>
  <div class="collapse-hitbox" data-toggle="collapse" data-target="#how-tos-list">
    <i class="icon-chevron-right"></i>
    <a href="#how-tos-list">How To's, Examples, and Best Practices</a>
  </div>
  <div id="how-tos-list" class="collapse">
    <ul>
    {% for page in site.categories.how-tos reversed %}
      <li>
        <a href="{{page.url}}">{{ page.title }}</a>
      </li>
    {% endfor %}
      <div class='more-content'>
        <li>
            <a href='/how-tos/'>(View all {{ site.categories.how-tos | size }}  articles)</a>
        </li>
      </div>
    </ul>
  </div>
</li>