<li>
  <a href='/how-tos'>How To's, Examples, and Best Practices</a>
  <ul>
  
  {% assign menusize = site.categories.how-tos | size %}
  {% for page in site.categories.how-tos reversed limit:site.menu_limit %}
    <li>
      <a href="{{page.url}}">{{ page.title }}</a>
    </li>
  {% endfor %}

  {% if menusize > site.menu_limit %}
      <div class='more-content'>
        <li>
            <a href='/how-tos'>(View all {{ menusize }} articles)</a>
        </li>
      </div>
  {% endif %}
  </ul>
</li>