<li>
  <div class="collapse-hitbox" data-toggle="collapse" data-target="#misc-list">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <a href="#misc-list">Miscellaneous</a>
  </div>
  <div id="misc-list" class="collapse">
    <ul>
    {% for page in site.categories.misc reversed %}
      <li>
        <a href="{{page.url}}">{{ page.title }}</a>
      </li>
    {% endfor %}
      <div class='more-content'>
        <li>
          <a href='/misc/'>(View all {{ site.categories.misc | size }}  articles)</a>
        </li>
      </div>
    </ul>
  </div>
</li>