<li>
  <div class="collapse-hitbox" data-toggle="collapse" data-target="#tools-list">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <a href="#tools-list">Reporting Tools</a>
  </div>
  <div id="tools-list" class="collapse">
    <ul>
    {% for page in site.categories.tools reversed %}
      <li>
        <a href="{{page.url}}">{{ page.title }}</a>
      </li>
    {% endfor %}
      <div class='more-content'>
        <li>
          <a href='/tools/'>(View all {{ site.categories.tools | size }}  articles)</a>
        </li>
      </div>
    </ul>
  </div>
</li>