/* GENERAL: =general
------------------------------------------------------------*/
body {
  background: #4c4c4c url(../images/background.png) 0 0 repeat;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Tahoma", "Geneva", sans-serif;
}

#wrapper {
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
  width: 960px
}
.col {
  border-left: 1px solid #eee;
  float: left;
  margin-left: -1px;
  padding: 30px;
  position: relative;
  /*width: 620px; /*680-60*/
  &.side {
    border: none;
    border-right: 1px solid #eee;
    padding: 20px;
    /*width: 219px; /*280-60-1*/
    width: 25%;
  }
}

hr {
  border: none;
  border-top: 1px solid #eee;
  padding: 10px 0;
}
img {
  max-width: 100%;
  padding: 1px;
  border: 1px solid #ddd;
}

/* TOP: =top
------------------------------------------------------------*/
#top {
  background-color: #323232;
  margin-bottom: 35px;
}
#header {
  margin: 0 auto;
  height: 60px;
  width: 960px;
  h1 {
    float: left;
    margin-right: 10px;
    padding: 18px 0;
    text-indent: -9999px;
    a {
      background: url(../images/km_logo.png) 0 0 no-repeat;
      background-size: 198px 26px;
      display: block;
      float: left;
      height: 26px;
      width: 198px;
    }
  }
  .links {
    float: right;
    a {
      color: #9ecee1;
      font-size: 13px;
      font-weight: bold;
      line-height: 22px;
      margin: 20px 5px 0 10px;
      text-decoration: none;
      text-shadow: #000 1px 1px 1px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* CRUMBS: =crumbs
------------------------------------------------------------*/
#crumbs {
  background: #e1eff3;
  box-shadow: 0 -1px 2px rgba(0,0,0,.1) inset;
  -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,.1) inset;
  -moz-box-shadow: 0 -1px 2px rgba(0,0,0,.1) inset;
  list-style: none;
  overflow: hidden;
  padding: 15px 20px 0px 20px;
  .leftcrumb{
    padding: 0px 20px 0px 0px;
    display: inline-block;
    float: left;
  }
  .rightcrumb{
    padding: 4px 0px 5px 20px;
    display: inline-block;
    float: right;
  }
  li {
    color: #a1a1a1;
    //float: left;
    font-weight: bold;
    line-height: normal;
    a {
      color: #0c8cc4;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.breadcrumb {
  background-color: inherit !important;
}

/* SWIFTYPE: =search_form
------------------------------------------------------------*/
#search_form {
  padding: 20px 0px 0px 0px;
}
body form input.st-search-input {
  height: 30px;
}

/* CONTENT: =content
------------------------------------------------------------*/
.col{
  h1 {
    color: #454545;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
    &.intro_title {
      margin-bottom: 4px;
    }
  }
  h2 {
    color: #000;
    font-size: 22px;
    margin-bottom: 12px;
  }
  h3 {
    color: #292929;
    font-size: 18px;
    margin-bottom: 12px;
  }
  h4 {
    color: #292929;
    font-size: 16px;
    margin-bottom: 12px;
  }
  p {
    color: #656565;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px;
    &.categories {
      margin-bottom: 0;
    }
    a:hover {
      text-decoration: none;
    }
  }
  ul, ol {
    color: #000;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  li {
    color: #656565;
    font-size: 14px;

    margin-bottom: 4px;
    line-height: 25px;
  }
  p a, li a, td a {
    color: #0c8cc4;
    text-decoration: underline;
  }
  code {
    color: #555;
    font: 'Courier', monospace;
    width: 571px;
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
    white-space: pre-wrap;
  }
  pre {
    background: #eef8ff;
    border-left: 4px solid #bee6ff;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 12px 15px;

    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    code {
      border: none;
      background: none;
      color: #3c7aac;
      margin: 0 0px;
      padding: 0px 0px;
    }
  }
  a code {
    color: #388da6;
  }
  h1 code, h2 code, h3 code, h4 code {
    color: #000;
    font: 'Courier', monospace;
  }
  .content {
    display: inline-block;
    max-width: 100%;
  }

  /* SUMMARY: =summary
  ------------------------------------------------------------*/
  ul.summary {
    float: left;
    margin: 0 0 10px 0;
    padding: 0;
    width: 619px;
  }
  .summary {
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        color: #388da6;
        background: #f0f7f9;
        border-radius: 7px;
        text-decoration: none;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        padding: 20px;
        display: block;
        &:hover {
          background: #e0f2f7;
          h3 {
            color: #275360;
          }
          p  {
            color: rgba(58,100,113,1);
          }
        }
        h3 {
          color: #3a6471;
          font-size: 22px;
          font-weight: normal;
          line-height: normal;
          margin-bottom: 2px;
          text-decoration: none;
        }
      }
      p {
        color: rgba(58,100,113,0.75);
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        margin-bottom: 0;
      }
    }
    ul {
      li {
        color: #53666c;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        padding: 0;
      }
    }
  }
  /* /SUMMARY
  -----------*/
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;
  th {
    background-color: #eee;
    border: 1px solid #e5e5e5;
    color: #454545;
    font-size: 14px;
    padding: 10px;
    text-align: left;
    a {
      color: #454545;
      text-decoration: underline;
    }
    td {
      border: 1px solid #e5e5e5;
      color: #656565;
      font-size: 14px;
      line-height: 18px;
      padding: 10px;
    }
  }
}

blockquote {
  border-left: 4px solid #e5e5e5;
  margin: 0 0 20px 15px;
  padding: 2px 0 0 8px;
}

.side {
  ul {
    list-style: none;
    margin: 0;
    li {
      border-top: 1px solid #eee;
      display: block;
      font-size: 14px;
      font-weight: bold;
      margin: 15px 0px 0 0px;
      padding: 15px 0px 0 0px;
      line-height: 20px;
      a {
        color: #6a6a6a;
        text-decoration: none;
        &:hover {
          color: #343434;
        }
      }
    }
    ul {
      margin-top: 10px;
      li {
        border: none;
        color: #909191;
        font-size: 13px;
        font-weight: normal;
        line-height: 20px;
        margin: 0 0 4px 0;
        padding: 0;
        a {
          color: #0c8cc4;
          font-size: 13px;
          font-weight: normal;
          line-height: 20px;
          margin: 0;
          padding: 0;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .collapse-hitbox:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

/* FOOTER: =footer
------------------------------------------------------------*/
#footer {
  margin: 0 auto;
  padding: 20px 0;
  width: 960px;
  p {
    color: #d7d7d7;
    font-size: 12px;
  }
  a {
    color: #9adaea;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

/* URL BUILDER FORM: =url-builder-form
------------------------------------------------------------*/
.url-builder-form {
  background: rgba(0,0,0,.05);
  border: 1px solid rgba(0,0,0,.1);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin: 0 auto 20px;
  padding: 20px;
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
  label {
    display: block;
    font-weight: bold;
  }
  p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 15px;
    &:before, &:after {
      content: "";
      display: table;
    }
    &:after {
      clear:both;
    }
  }
  .note {
    color: #999;
    display: block;
    font-size: 12px;
    font-style: italic;
  }
  .required, .optional {
    color: #999;
  }
  .form-col {
    float: left;
    margin-right: 20px;
    width: 278px;
    &:nth-child(even) {
      margin-right: 0;
    }
    input[type="text"] {
      width: 261px;
    }
  }
  .submit-button {
    background: rgba(0,0,0,.05);
    border-top: 1px solid rgba(0,0,0,.05);
    margin: 0 -20px -20px -20px;
    padding: 20px;
  }
  .error-message {
    color: red;
    font-weight: bold;
  }
}

.url-builder-form input[type="text"],
#final-url input[type="text"] {
  background: #fff;
  border: 1px solid #dadadd;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
     -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
  color: #656565;
  font-size: 13px;
  padding: 8px;
  width: 559px;

  -webkit-transition: border 0.15s linear, box-shadow 0.15s linear;
     -moz-transition: border 0.15s linear, box-shadow 0.15s linear;
      -ms-transition: border 0.15s linear, box-shadow 0.15s linear;
       -o-transition: border 0.15s linear, box-shadow 0.15s linear;
          transition: border 0.15s linear, box-shadow 0.15s linear;
  &:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.07), 0 0 5px rgba(82,168,236,0.6);
       -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.07), 0 0 5px rgba(82,168,236,0.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.07), 0 0 5px rgba(82,168,236,0.6);
          border-color: rgba(82,168,236,0.7);
          outline:0;
  }
}

#add-another-property {
  text-decoration: none;
}
#final-url {
  border: 1px solid rgba(0,0,0,.15);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin: 0 auto 20px;
  padding: 20px;

  -webkit-animation: target-fade 3s 1;
     -moz-animation: target-fade 3s 1;
}
.yft {
  -webkit-animation: target-fade 3s 1;
     -moz-animation: target-fade 3s 1;
}
@-webkit-keyframes target-fade {
    0% { background-color: #ffff8c; }
    100% { background-color: #fff; }
}
@-moz-keyframes target-fade {
    0% { background-color: #ffff8c; }
    100% { background-color: #fff; }
}

/* FEEDBACK MODAL: =feedbackModal
------------------------------------------------------------*/
#feedbackModal {
  #modalSuccess p {
    text-align: center;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
  }
}

/* Media Queries:
------------------------------------------------------------*/

@media only screen and (min-width: 0px) {
/* 0 (320) to 480 */
  div.col.side { display: none; }
  #header { width: 320px;}
  #wrapper { width: 320px; }
  #footer { width: 320px; }
  .col { width: 260px; }
  div#header .links a { display: none; }
  .col ul.summary { width: 259px; }
  div#disqus_thread { display: none; }
  .wistia-embed { width:259px; height:165px; }
  div#wrapper div.rightcrumb { display: none; }
}
@media only screen and (min-width: 480px) {
/* 480 to 768 */
  div.col.side { display: none; }
  #header { width: 480px;}
  #wrapper { width: 480px; }
  #footer { width: 480px; }
  .col { width: 420px; }
  div#header .links a { display: none; }
  .col ul.summary { width: 419px; }
  div#disqus_thread { display: block; }
  .wistia-embed { width:419px; height:265px; }
  div#wrapper div.rightcrumb { display: none; }
}
@media only screen and (min-width: 768px) {
/* 768 to 1024 */
  div.col.side { display: none; }
  #header { width: 768px;}
  #wrapper { width: 768px; }
  #footer { width: 768px; }
  .col { width: 768px; }
  div#header .links a { display: inline-block; }
  .col ul.summary { width: 707px; }
  div#disqus_thread { display: block; }
  .wistia-embed { width:707px; height:445px; }
  div#wrapper div.rightcrumb { display: inherit; }
}
@media only screen and (min-width: 1024px) {
/* 1024 + */
  div.col.side { display: block; padding: 0px 20px 20px 20px; }
  #header { width: 960px;}
  #wrapper { width: 960px; }
  #footer { width: 960px; }
  .col { width: 720px; }
  div#header .links a { display: inline-block; }
  .col ul.summary { width: 619px; }
  div.col.side input.st-search-input { width: 180px; }
  div#disqus_thread { display: block; }
  .wistia-embed { width:619px; height:390px; }
  .side ul li:first-child { border-top: none; }
  div#wrapper div.rightcrumb { display: inherit; }
}