/* 
  Site: KISSmetrics Support
  Author: Derek P. Collins, dcollins@kissmetrics.com
  Time: 2010-09-14 15:48:20
*/

/* RESET: =reset
------------------------------------------------------------*/
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; }

/* GENERAL: =general
------------------------------------------------------------*/
body {
  background: #4c4c4c url(../images/background.png) 0 0 repeat;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Tahoma", "Geneva", sans-serif;
}

#wrapper {
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
  width: 960px
}
.col {
  border-left: 1px solid #eee;
  float: left;
  margin-left: -1px;
  padding: 30px;
  position: relative;
  width: 620px; /*680-60*/
}
.col.side {
  border: none;
  border-right: 1px solid #eee;
  padding: 20px;
  width: 219px; /*280-60-1*/
}

hr {
  border: none;
  border-top: 1px solid #eee;
  padding: 10px 0;
}
img {
  max-width: 100%;
  padding: 1px;
  border: 1px solid #ddd;
}

/* TOP: =top
------------------------------------------------------------*/
#top {
  background-color: #323232;
  margin-bottom: 35px;
}
#header {
  margin: 0 auto;
  height: 60px;
  width: 960px;
}
#header h1 {
  float: left;
  margin-right: 10px;
  padding: 18px 0;
  text-indent: -9999px;
}
#header h1 a {
  background: url(../images/km_logo.png) 0 0 no-repeat;
  background-size: 198px 26px;
  display: block;
  float: left;
  height: 26px;
  width: 198px;
}
#header a.km {
  color: #9ecee1;
  float: right;
  font-size: 13px;
  font-weight: bold;
  line-height: 22px;
  margin: 20px 5px 0 10px;
  text-decoration: none;
  text-shadow: #000 1px 1px 1px;
}
#header a.km:hover {
  text-decoration: underline;
}

/* CRUMBS: =crumbs
------------------------------------------------------------*/
#crumbs ul {
  background: #e1eff3;
  box-shadow: 0 -1px 2px rgba(0,0,0,.1) inset;
  -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,.1) inset;
  -moz-box-shadow: 0 -1px 2px rgba(0,0,0,.1) inset;
  list-style: none;
  overflow: hidden;
  padding: 14px 30px;
}
#crumbs li {
  background: transparent url(../images/crumb_tick.png) 0 50% no-repeat;
  color: #a1a1a1;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
  margin-left: 8px;
  padding-left: 11px;
  text-shadow: 1px 1px 1px #fff;
}
#crumbs li#dash {
  background: none;
  margin-left: 0;
  padding-left: 0;
}
#crumbs li a {
  color: #0c8cc4;
  text-decoration: none;
}
#crumbs li a:hover {
  text-decoration: underline;
}

/* CONTENT: =content
------------------------------------------------------------*/
.col h1 {
  color: #454545;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}
.col h1.intro_title {
  margin-bottom: 4px;
}
.col h2 {
  color: #000;
  font-size: 22px;
  margin-bottom: 12px;
}
.col h3 {
  color: #292929;
  font-size: 18px;
  margin-bottom: 12px;
}
.col h4 {
  color: #292929;
  font-size: 16px;
  margin-bottom: 12px;
}
.col p {
  color: #656565;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}
.col p.categories {
  margin-bottom: 0;
}
.col ul,
.col ol {
  color: #000;
  margin-left: 20px;
  margin-bottom: 20px;
}
.col li {
  color: #656565;
  font-size: 16px;
  
  margin-bottom: 4px;
  line-height: 25px;
}
.col p a,
.col li a,
.col td a {
  color: #0c8cc4;
  text-decoration: underline;
}

.col p a:hover {
  text-decoration: none;
}
.col code {
  color: #555;
  font: 'Courier', monospace;
  width: 571px;
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;  
}
.col pre {
  background: #eef8ff;
  border-left: 4px solid #bee6ff;
  line-height: 20px;
  margin-bottom: 20px;
  padding: 12px 15px;

  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.col pre code {
  border: none;
  background: none;
  color: #3c7aac; 
  margin: 0 0px;
  padding: 0px 0px;
}

.col a code {
  color: #388da6;
  text-decoration: underline;
}

.col h1 code,
.col h2 code,
.col h3 code,
.col h4 code {
  color: #000;
  font: 'Courier', monospace;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;
}
table th {
  background-color: #eee;
  border: 1px solid #e5e5e5;
  color: #454545;
  font-size: 14px;
  padding: 10px;
  text-align: left;
}

table th a {
	color: #454545;
	text-decoration: underline;	
}
table td {
  border: 1px solid #e5e5e5;
  color: #656565;
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
}

blockquote {
  border-left: 4px solid #e5e5e5;
  margin: 0 0 20px 15px;
  padding: 2px 0 0 8px;
}

.side ul {
  list-style: none;
  margin: 0;
}
.side ul li {
  border-top: 1px solid #eee;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0px 0 0px;
  padding: 15px 0px 0 0px;
  line-height: 20px;
}
.side ul li a {
  color: #6a6a6a;
  text-decoration: none;
}
.side ul li a:hover {
  color: #343434;
}
.side ul ul {
  margin-top: 10px;
}
.side ul ul li {
  border: none;
  color: #909191;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  margin: 0 0 4px 0;
  padding: 0;
}
.side ul ul li a {
  color: #0c8cc4;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.side ul ul li a:hover {
  text-decoration: underline;
}

.side .collapse-hitbox:hover {
  cursor: pointer;
  text-decoration: underline;
}

#disqus_thread {
margin-left:25px;
margin-right:25px;
margin-top:75px;
}

/* SUMMARY: =summary
------------------------------------------------------------*/

.col ul.summary {
	float: left;
	margin: 0 0 10px 0;
	padding: 0;
	width: 619px;
}

.col .summary li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.col .summary li a {
	background: #f0f7f9;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	padding: 20px;
	display: block;
}

.col .summary li a {
	color: #388da6;
	text-decoration: none;
}

.col .summary li a:hover {
	background: #e0f2f7;
}

.col .summary a h3 {
  color: #3a6471;
  font-size: 22px;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 2px;
  text-decoration: none;
}

.col .summary a:hover h3 {
  color: #275360;
}

.col .summary li p {
  color: rgba(58,100,113,0.75);
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 0;
}

.col .summary li a:hover p  {
	color: rgba(58,100,113,1);
}
.col .summary ul li {
	color: #53666c;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 0;
}

/* FOOTER: =footer
------------------------------------------------------------*/
#footer {
  margin: 0 auto;
  padding: 20px 0;
  width: 960px;
}
#footer p {
  color: #d7d7d7;
  font-size: 12px;
}

#footer a {
  color: #9adaea;
  text-decoration: underline;
}
#footer a:hover {
  text-decoration: none;
}

p.critical{
  background: #fab6b5;
  padding: 10px;
  border: 1px dotted red;
}

/* URL BUILDER FORM: =url-builder-form
------------------------------------------------------------*/
#url-builder-form {
  background: rgba(0,0,0,.05);
  border: 1px solid rgba(0,0,0,.1);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin: 0 auto 20px;
  padding: 20px;
}
#url-builder-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
#url-builder-form label {
  display: block;
  font-weight: bold;
}
#url-builder-form p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 15px;
}
#url-builder-form p:before,
#url-builder-form p:after {
  content: "";
  display: table;
}
#url-builder-form p:after {
  clear:both;
}
#url-builder-form .note {
  color: #999;
  display: block;
  font-size: 12px;
  font-style: italic;
}
#url-builder-form .required {
  color: #999;
}
#url-builder-form .optional {
  color: #999;
}
#url-builder-form .form-col {
  float: left;
  margin-right: 20px;
  width: 278px;
}
#url-builder-form .form-col:nth-child(even) {
  margin-right: 0;
}
#url-builder-form input[type="text"],
#final-url input[type="text"] {
  background: #fff;
  border: 1px solid #dadadd;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
     -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
  color: #656565;
  font-size: 13px;
  padding: 8px;
  width: 559px;
  
  -webkit-transition: border 0.15s linear, box-shadow 0.15s linear;
     -moz-transition: border 0.15s linear, box-shadow 0.15s linear;
      -ms-transition: border 0.15s linear, box-shadow 0.15s linear;
       -o-transition: border 0.15s linear, box-shadow 0.15s linear;
          transition: border 0.15s linear, box-shadow 0.15s linear;
}
#url-builder-form input[type="text"]:focus,
#final-url input[type="text"]:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.07), 0 0 5px rgba(82,168,236,0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.07), 0 0 5px rgba(82,168,236,0.6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,0.07), 0 0 5px rgba(82,168,236,0.6);
        border-color: rgba(82,168,236,0.7);
        outline:0;
}
#url-builder-form .form-col input[type="text"] {
  width: 261px;
}
#add-another-property {
  text-decoration: none;
}
#url-builder-form .submit-button {
  background: rgba(0,0,0,.05);
  border-top: 1px solid rgba(0,0,0,.05);
  margin: 0 -20px -20px -20px;
  padding: 20px;
}
#final-url {
  border: 1px solid rgba(0,0,0,.15);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin: 0 auto 20px;
  padding: 20px;
  
  -webkit-animation: target-fade 3s 1;
     -moz-animation: target-fade 3s 1;
}
.yft {
  -webkit-animation: target-fade 3s 1;
     -moz-animation: target-fade 3s 1;
}
@-webkit-keyframes target-fade {
    0% { background-color: #ffff8c; }
    100% { background-color: #fff; }
}
@-moz-keyframes target-fade {
    0% { background-color: #ffff8c; }
    100% { background-color: #fff; }
}
#url-builder-form .error-message {
  color: red;
}