---
layout: post
title: A/B Test Report
categories: tools
summary: The Cohort report provides a breakdown of the time it took people to do one event to doing another event.
permalink: /tools/a-b-test-report/index.html

---
* Table of Contents
{:toc}
* * *

{% include summaries/a_b_test_report_summary.html %}
