---
layout: post
title: A/B Test Report
categories: tools
summary: The A/B Test report helps you determine which A/B test variations are performing better, and whether that difference is meaningful.
permalink: /tools/a-b-test-report/index.html

---
* Table of Contents
{:toc}
* * *

Our A/B Test Report is designed to help you determine whether the results of your A/B test are significant, not significant, or need to run for more time.

![A/B Test Report][report]

If you'd like to read more about setting up an A/B test, please refer to our [A/B Testing section][ab-section].

{% include summaries/a_b_test_report_summary.html %}

[report]: https://kissmetrics-support-files.s3.amazonaws.com/assets/a-b-testing/ab-report.png
[ab-section]: http://support.kissmetrics.com/a-b-testing
