<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  {% include _header.html %}

  <body class='home'>
    <div data-swiftype-index='false' id='top'>
      <div id='header'>
        <h1>
          <a class='href' href='/'>KISSmetrics</a>
        </h1>
        <div class='links'>
          <a href='/developers/'>Developer Documentation</a>
          <a href='/learn'>Learning Center</a>
          <a class='km' href='https://www.kissmetrics.com'>Go to KISSmetrics &rarr;</a>
        </div><!-- /.links -->
      </div><!-- /#header -->
    </div><!-- /#top -->
    <div id='wrapper'>
      <div data-swiftype-index='false' id='crumbs'>
        <div class='rightcrumb'>
          <ul id='breadcrumb' class='breadcrumb'>
            {% if page.categories %}
              <li><a href="/">Home</a></li>
              {% for category in page.categories %}
                <li><a href="/{{category}}">{{ category | capitalize }}</a></li>
              {% endfor %}
            {% endif %}
            <li class="active">{{ page.title }}</li>
          </ul>
        </div><!-- /.rightcrumb -->
      </div><!-- /#crumbs -->
      <div class='col side' data-swiftype-index='false'>
        <div id='st-results-container'></div>
        <script type='text/javascript'>
          //<![CDATA[
          var Swiftype = window.Swiftype || {};
          (function() {
            Swiftype.key = 'S8c68zdgy5Q4EbbTkhDV';
            Swiftype.inputElement = '#st-search-input';
            Swiftype.resultContainingElement = '#st-results-container';
            Swiftype.attachElement = '#st-search-input';
            Swiftype.renderStyle = "overlay";

            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.async = true;
            script.src = "//swiftype.com/embed.js";
            var entry = document.getElementsByTagName('script')[0];
            entry.parentNode.insertBefore(script, entry);
          }());
          //]]>
        </script>
        <div class='menu'>
          <form id='search_form'>
            <input class='st-search-input' id='st-search-input' placeholder='Search the Documentation' type='text' />
          </form>
          {% if page.portal == "developer" %}
            {% include _sidebar_developer.html %}
          {% elsif page.portal == "university" %}
            {% include _sidebar_university.html %}
          {% else %}
            {% include _sidebar_full.html %}
          {% endif %}
        </div><!-- /.menu -->
      </div><!-- /.col.side -->
      <div class='col' data-swiftype-index='true'>
        {{ content }}
      </div><!-- /.col -->
    </div><!-- /.wrapper -->

    <div data-swiftype-index='false' id='footer'>
      <p>
        &copy;
        2014
        KISSmetrics. All rights reserved.
        <img src="http://ad.retargeter.com/seg?add=528457&t=2" width="1" height="1" style="border:0; outline:none;" />
      </p>
    </div><!-- /.footer -->

  </body><!-- /.home -->
</html>
