<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  {% include _header.html %}

  <body class='home'>
    <div data-swiftype-index='false' id='top'>
      <div id='header'>
        <h1>
          <a class='href' href='https://www.kissmetrics.com'>Kissmetrics</a>
        </h1>
        <div class='links'>
          <a href='/developers/'>Developer Documentation</a>
          <a href='/learn'>Learning Center</a>
          <a href='http://status.kissmetrics.com'>Kissmetrics Status</a>
        </div><!-- /.links -->
      </div><!-- /#header -->
    </div><!-- /#top -->
    <div id='wrapper'>
      <div data-swiftype-index='false' id='crumbs'>
        <div class='leftcrumb'>
          <ul id='breadcrumb' class='breadcrumb'>
            {% if page.categories %}
              <li><a href="/">Home</a></li>
              {% for category in page.categories %}
                <li><a href="/{{category}}">{{ category | capitalize }}</a></li>
              {% endfor %}
            {% endif %}
            <li class="active">{{ page.title }}</li>
          </ul><!-- /.breadcrumb #breadcrumb -->
        </div><!-- /.leftcrumb -->
      </div><!-- /#crumbs -->
      <div class='col side' data-swiftype-index='false'>
        <div id='st-results-container'></div>
        <div class='menu'>
          <form id='search_form'>
            <input class='st-search-input' id='st-search-input' placeholder='Search the Documentation' type='text' />
          </form>
          <ul>
            {% if page.portal == "developer" %}
              {% include _sidebar_developer.html %}
            {% elsif page.portal == "university" %}
              {% include _sidebar_university.html %}
            {% else %}
              {% include _sidebar_full.html %}
            {% endif %}
          </ul>
        </div><!-- /.menu -->
      </div><!-- /.col.side -->
      <div class='col' data-swiftype-index='true'>
        {{ content }}
      </div><!-- /.col -->
    </div><!-- /#wrapper -->

    {% include _footer.html %}
  </body><!-- /.home -->
</html>
